<%- include('header'); -%>
<div class="container">
<div class="text-centre">
<p>Thank you , Our team will review your information and contact you for further processing to complete your signing up.app</p>


</div>
</div>
<%- include('footer'); -%>